@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  color: var(--secondary-900);
  background-color: var(--bg-page);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary-1: #e7faf6;
    --primary-2: #06c8bb;
    --primary-3: #00b59f;
    --primary-4: #0bc409;
    --primary-foreground: #fafafa;
    --secondary-900: #1a233b;
    --secondary-800: #20325a;
    --secondary-700: #334a6c;
    --secondary-600: #60799a;
    --secondary-500: #70839e;
    --secondary-400: #a9b7c9;
    --secondary-300: #b0bccc;
    --secondary-200: #d4dbe4;
    --secondary-100: #e7ecf3;
    --secondary-foreground: #191f31;
    --black-900: #171b1e;
    --black-800: #35393c;
    --black-700: #53575a;
    --black-600: #717578;
    --black-500: #8f9396;
    --black-400: #adb1b4;
    --black-300: #cbcfd2;
    --black-200: #dadee1;
    --black-100: #e9edf0;
    --black-00: #f6f7f8;
    --muted: #f4f4f4;
    --muted-foreground: #767676;
    --accent: #f4f4f4;
    --accent-foreground: #1a1a1a;
    --destructive: #eb4d4b;
    --destructive-foreground: #fafafa;
    --border: #e6e6e6;
    --input: #b2bac6;
    --ring: #0a0a0a;
    --chart-1: #e76634;
    --chart-2: #228b67;
    --chart-3: #1a4e64;
    --chart-4: #e6c23d;
    --chart-5: #f4a259;
    --radius: 0.5rem;
    --states-red: #f75741;
    --states-orange: #e7871e;
    --states-yellow: #ffc45b;
    --states-blue: #0560fd;
    --states-green: #0bc274;
    --bg-lnb: #1c2025;
    --bg-alert: rgba(28, 32, 37, 0.5);
    --bg-page: #f2f4f5;
    --sidebar-background: #fafafa;
    --sidebar-foreground: #464646;
    --sidebar-primary: #1a1a1a;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f4f4f4;
    --sidebar-accent-foreground: #1a1a1a;
    --sidebar-border: #dae1ec;
    --sidebar-ring: #2e85d6;
  }
  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #1a1a1a;
    --secondary: #282828;
    --secondary-foreground: #fafafa;
    --muted: #282828;
    --muted-foreground: #a5a5a5;
    --accent: #282828;
    --accent-foreground: #fafafa;
    --destructive: #992525;
    --destructive-foreground: #fafafa;
    --border: #bac4d1;
    --input: #bac4d1;
    --ring: #d4d4d4;
    --chart-1: #0055aa;
    --chart-2: #339966;
    --chart-3: #e68a00;
    --chart-4: #9966cc;
    --chart-5: #cc3366;
    --bg-page: #f2f4f5;
    --sidebar-background: #1a1a1a;
    --sidebar-foreground: #f4f4f4;
    --sidebar-primary: #2980d9;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #282828;
    --sidebar-accent-foreground: #f4f4f4;
    --sidebar-border: #282828;
    --sidebar-ring: #2894e0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
