@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  color: var(--secondary-900);
  background-color: var(--bg-page);
}

button {
  line-height: normal;
}

@layer base {
  :root {
    --background: theme("colors.background");
    --foreground: theme("colors.foreground");
    --card: theme("colors.card.DEFAULT");
    --card-foreground: theme("colors.card.foreground");
    --popover: theme("colors.popover.DEFAULT");
    --popover-foreground: theme("colors.popover.foreground");
    --primary-cyanLight: theme("colors.primary.cyanLight");
    --primary-cyan: theme("colors.primary.cyan");
    --primary-cyanDark: theme("colors.primary.cyanDark");
    --primary-green: theme("colors.primary.green");
    --primary-foreground: theme("colors.primary.foreground");
    --secondary-900: theme("colors.secondary.900");
    --secondary-800: theme("colors.secondary.800");
    --secondary-700: theme("colors.secondary.700");
    --secondary-600: theme("colors.secondary.600");
    --secondary-500: theme("colors.secondary.500");
    --secondary-400: theme("colors.secondary.400");
    --secondary-300: theme("colors.secondary.300");
    --secondary-200: theme("colors.secondary.200");
    --secondary-100: theme("colors.secondary.100");
    --secondary-foreground: theme("colors.secondary.foreground");
    --black-900: theme("colors.black.900");
    --black-800: theme("colors.black.800");
    --black-700: theme("colors.black.700");
    --black-600: theme("colors.black.600");
    --black-500: theme("colors.black.500");
    --black-400: theme("colors.black.400");
    --black-300: theme("colors.black.300");
    --black-200: theme("colors.black.200");
    --black-100: theme("colors.black.100");
    --black-00: theme("colors.black.00");
    --muted: theme("colors.muted.DEFAULT");
    --muted-foreground: theme("colors.muted.foreground");
    --accent: theme("colors.accent.DEFAULT");
    --accent-foreground: theme("colors.accent.foreground");
    --destructive: theme("colors.destructive.DEFAULT");
    --destructive-foreground: theme("colors.destructive.foreground");
    --border: theme("colors.border");
    --input: theme("colors.input.DEFAULT");
    --input-bg: theme("colors.input.background");
    --ring: theme("colors.ring");
    --radius: 0.5rem;
    --states-red: theme("colors.states.red");
    --states-orange: theme("colors.states.orange");
    --states-yellow: theme("colors.states.yellow");
    --states-blue: theme("colors.states.blue");
    --states-green: theme("colors.states.green");
    --bg-lnb: theme("colors.bg.lnb");
    --bg-alert: theme("colors.bg.alert");
    --bg-pageDark: theme("colors.bg.pageDark");
    --bg-page: theme("colors.bg.page");
    --sidebar-background: theme("colors.sidebar.DEFAULT");
    --sidebar-foreground: theme("colors.sidebar.foreground");
    --sidebar-primary: theme("colors.sidebar.primary");
    --sidebar-primary-foreground: theme("colors.sidebar.primary-foreground");
    --sidebar-accent: theme("colors.sidebar.accent");
    --sidebar-accent-foreground: theme("colors.sidebar.accent-foreground");
    --sidebar-border: theme("colors.sidebar.border");
    --sidebar-ring: theme("colors.sidebar.ring");
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
