@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  color: var(--secondary-900);
  background-color: var(--bg-page);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary-1: #d8f5f0;
    --primary-2: #00a88a;
    --primary-3: #00a379;
    --primary-4: #00843f;
    --primary-foreground: #fafafa;
    --secondary-900: #1a2b46;
    --secondary-800: #1f385f;
    --secondary-700: #2b476e;
    --secondary-600: #4c6583;
    --secondary-500: #5b718a;
    --secondary-400: #b5c4dc;
    --secondary-300: #bac7dc;
    --secondary-200: #dbe1ee;
    --secondary-100: #ecf1f9;
    --secondary-foreground: #191f31;
    --black-900: #191c1d;
    --black-800: #373c3e;
    --black-700: #54595c;
    --black-600: #71787c;
    --black-500: #91969a;
    --black-400: #b0b6ba;
    --black-300: #cfd5d9;
    --black-200: #dfe6ea;
    --black-100: #edf1f4;
    --black-00: #f5f8fa;
    --muted: #f4f4f4;
    --muted-foreground: #767676;
    --accent: #f4f4f4;
    --accent-foreground: #1a1a1a;
    --destructive: #eb4d4b;
    --destructive-foreground: #fafafa;
    --border: #e6e6e6;
    --input: #b2bac6;
    --ring: #0a0a0a;
    --chart-1: #e76634;
    --chart-2: #228b67;
    --chart-3: #1a4e64;
    --chart-4: #e6c23d;
    --chart-5: #f4a259;
    --radius: 0.5rem;
    --states-red: #e23232;
    --states-orange: #d4842b;
    --states-yellow: #ffec85;
    --states-blue: #006eff;
    --states-green: #009e55;
    --bg-lnb: #21272e;
    --bg-alert: rgba(33, 39, 46, 0.5);
    --bg-page: rgba(235, 240, 245, 1);
    --sidebar-background: #fafafa;
    --sidebar-foreground: #464646;
    --sidebar-primary: #1a1a1a;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f4f4f4;
    --sidebar-accent-foreground: #1a1a1a;
    --sidebar-border: #dae1ec;
    --sidebar-ring: #2e85d6;
  }
  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #1a1a1a;
    --secondary: #282828;
    --secondary-foreground: #fafafa;
    --muted: #282828;
    --muted-foreground: #a5a5a5;
    --accent: #282828;
    --accent-foreground: #fafafa;
    --destructive: #992525;
    --destructive-foreground: #fafafa;
    --border: #bac4d1;
    --input: #bac4d1;
    --ring: #d4d4d4;
    --chart-1: #0055aa;
    --chart-2: #339966;
    --chart-3: #e68a00;
    --chart-4: #9966cc;
    --chart-5: #cc3366;
    --bg-page: #e9eff3;
    --sidebar-background: #1a1a1a;
    --sidebar-foreground: #f4f4f4;
    --sidebar-primary: #2980d9;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #282828;
    --sidebar-accent-foreground: #f4f4f4;
    --sidebar-border: #282828;
    --sidebar-ring: #2894e0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
